<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/basescript")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @{
                    var login = HttpContext.Current.User?.Identity?.Name;
                }

                @Html.ActionLink($"Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Слова", "Index", "Words")</li>
                    <li>@Html.ActionLink("Игры", "Index", "Games")</li>

                    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Выйти", "LogOut", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class='wait-overlay'></div>
        @RenderBody()
    </div>

    <div id="footer">
        <div class="container footer-container">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Пользователь: @login <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li>@Html.ActionLink("Выйти", "LogOut", "Login")</li>
                    <li class="divider"></li>
                    <li><a href="#">Редактировать</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
